
mat-sidenav
{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: #fff;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
}
/* .logo
{
  color: #ffffff;
  float: left;
  font-size: 50px;
  font-weight: 700;
  padding: 5px 10px;
} */
.content
{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
}
/* mat-sidenav-container
{
  height: calc(100vh - 65px);
} */
.menu-button
{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

}
mat-icon{
  margin-right: 8px;
}
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name
{
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}
.desination
{
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;
}
mat-divider
{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
