
<mat-nav-list >
  <div class="profile-card">
    <div class="header">
      <img class="avatar mat-elevation-z8" src="/assets/img/img.jpg" alt="">
      <h4 class="name">Mohamed Shaban</h4>
      <p  class="desination">Admin</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- <div>Profile</div> -->
  <button routerLinkActive="list-item-active" routerLink="/dashboard/dashHome" mat-button class="menu-button">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<button mat-button class="menu-button">
  <mat-icon>person</mat-icon>
  <span>Prisoners</span>
</button>
<button routerLinkActive="list-item-active" routerLink="/dashboard/person" mat-button class="menu-button">
<mat-icon>account_balance</mat-icon>
<span>Visitor</span>
</button>
<button mat-button class="menu-button">
  <mat-icon>info</mat-icon>
  <span>About</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
  <mat-icon>help</mat-icon>
  <span>help</span>
</button>
<button mat-button class="menu-button" (click)="logOut()">
  <mat-icon>exit_to_app</mat-icon>
  <span>Logout</span>
</button>
</mat-nav-list>
