#lblPageTitleSmall
{
    font-size: 19px;
    margin: 10px 0 0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    color: #0D4F86;
    text-align: left;
}

.dashboard-box {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
}
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.dashboard-box .padd {
  padding: 10px 10px 0 10px;
  float: left;
  width: 100%;
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard-box .icon {
  border: 1px solid hsla(0,0%,100%,.3);
  border-radius: 100%;
  height: 64px;
  line-height: inherit;
  text-align: center;
  width: 64px;
  float: right;
  padding-top: 15px;
  position: absolute;
  right: 11px;
  margin-top: 15px;

}

.dashboard_name {
  border-bottom: 1px solid hsla(0,0%,100%,.3);
  font-size: 18px;
  float: left;
  line-height: 34px;
  padding-left: 11px;
  width: 100%;
  margin-bottom: 5px;
}

.dashboard-box .headlin {
  font-family: arial;
  font-size: 18px;
  color: #fff;
  float: left;
  width: 95%;
  margin-top: 15px;
}

.dashboard_reports {

  margin: 20px;
  text-align: left;
  width: 100%;
  font-size: 25px;
}
.more_img {
  background-image: url("https://eprisons.nic.in/images/syncfusion-icons-white.png");
  background-position: right center;
  background-repeat: no-repeat;
}
.more {
  color: #fff;
  clear: both;
  display: block;
  font-size: 11px;
  font-weight: 300;
  opacity: .7;
  padding: 7px 15px;
  position: relative;
  text-transform: uppercase;
  float: left;
  width: 100%;
  cursor: pointer;
}
.blue-madison1 {
  background-color: #4C87B9;
}
.blue-madison {
  background-color: #578EBE;
}
.red-intense {
  background-color: #e35b5a;
}
.aquamarine {
  background-color: #44b6ae;
}
.purple-plum {
  background-color: #8775a7;
}

