<div class="container">
<div class="row">
  <div class="col-lg-12">
      <h4 class="pages_title" style="float:left">
          <span id="lblPageTitleSmall" style="font-size:19px; margin:10px 0 0; float:left;">All States</span>
      </h4>
      <h5 class="pages_title" style="float:right">
      <span id="lblLastUpdated" style="font-size:14px; float:right; margin-top:10px;">As on : 01/07/2023 11:47PM</span>

      </h5>
  </div>
  <div class="col-lg-12">
    <h6 class="pages_title" style="float:right; margin-top:-10px; color:#0099ff">
          <span id="Label6" style="font-size:14px;">Dashboard updates every 4 hours. </span>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-box blue-madison hvr-glow">

          <!-- Wrapper for slides -->
          <div class="padd">
              <div class="icon hvr-pulse blue-madison">
                  <img src="https://eprisons.nic.in/images/icon11.png">
              </div>
              <div class="headlin">
                  <div class="dashboard_name">
                      <span id="lblLargeBoard1Title">Inmates inside</span>
                  </div>
                  <div class="dashboard_reports">
                      <span id="lblLargeBoard1Message">572556</span>
                  </div>
              </div>
              <!-- padd End-->
          </div>
          <div class="blue-madison1 more more_img">
              <h5 onclick="$('#carousel-example-generic').carousel('cycle');" id="ctl00_ContentPlaceHolder2_lnkButtonLargeBoard1" href="">View more</h5>
          </div>

          <!-- dashboard-box End-->



      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-box red-intense hvr-glow">

          <!-- Wrapper for slides -->


          <div class="padd">
              <div class="icon hvr-pulse red-intense">
                  <img src="https://eprisons.nic.in/images/icon10.png">
              </div>
              <div class="headlin">
                  <div class="dashboard_name">
                      <span id="lblLargeBoard3Title">Admissions today</span>
                  </div>
                  <div class="dashboard_reports">
                      <span id="lblLargeBoard3Message">1644</span>
                  </div>
              </div>
              <!-- padd End-->
          </div>
          <h5 onclick="$('#carousel-example-generic').carousel('cycle');" id="ctl00_ContentPlaceHolder2_lnkButtonLargeBoard3" class="red-intense1 more more_img" href="">View more</h5>




          <!-- dashboard-box End-->
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-box aquamarine hvr-glow">
          <div class="padd">
              <div class="icon hvr-pulse aquamarine">
                  <img src="https://eprisons.nic.in/images/icon1.png">
              </div>
              <div class="headlin">
                  <div class="dashboard_name">
                      <span id="lblLargeBoard2Title">Released today</span>
                  </div>
                  <div class="dashboard_reports">
                      <span id="lblLargeBoard2Message">2398</span>
                  </div>
              </div>
              <!-- padd End-->
          </div>
          <h5 id="ctl00_ContentPlaceHolder2_lnkButtonLargeBoard2" class=" aquamarine1 more more_img" href="javascript:__doPostBack('ctl00$ContentPlaceHolder2$lnkButtonLargeBoard2','')">View more</h5>
          <!-- dashboard-box End-->
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-box purple-plum hvr-glow">
          <div class="padd">
              <div class="icon hvr-pulse purple-plum">
                  <img src="https://eprisons.nic.in/images/officers_icon.png">
              </div>
              <div class="headlin">
                  <div class="dashboard_name">
                      <span id="lblLargeBoard6Title">Visits registered today </span>
                  </div>
                  <div class="dashboard_reports">
                      <span id="lblLargeBoard6Message">24217</span>
                  </div>
              </div>
              <!-- padd End-->
          </div>
          <h5 id="ctl00_ContentPlaceHolder2_lnkButtonLargeBoard6" class="purple-plum1 more more_img" href="javascript:__doPostBack('ctl00$ContentPlaceHolder2$lnkButtonLargeBoard6','')">View more</h5>
          <!-- dashboard-box End-->
      </div>
  </div>
</div>
</div>
<div class="br">
  <h1>h</h1>
</div>
<div class="br">
  <h1>h</h1>
</div><div class="br">
  <h1>h</h1>
</div>
