<!-- Section Carousel -->
<!-- <section  class="home">
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-control">
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657633_0.jpg');"></li>
            <li data-target="#carousel" data-slide-to="1" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657712_0.jpg');"></li>
            <li data-target="#carousel" data-slide-to="2" style="background-image: url('https://www.statusin.in/uploads/images2021/24072-2.jpg');"></li>
          </ol>
          <button class="carousel-control-prev" type="button" data-target="#carousel" data-slide="prev">
              <img src="/assets/img/left-arrow.svg" alt="" srcset="">
          </button>
          <button class="carousel-control-next" type="button" data-target="#carousel" data-slide="next">
              <img src="/assets/img/right-arrow.svg" alt="" srcset="">
          </button>
  </div>
   <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657633_0.jpg');">
          <div class="container">
              <h2 class="mb-5">بوابة سجون مصر</h2>
              <p>للخدمات الالكترونية</p>
          </div>
      </div>
        <div class="carousel-item " style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657712_0.jpg');">
          <div class="container">
              <h2 class="mb-4">للزيارات الأسرية</h2>
              <p>والزوجية</p>
          </div>
      </div>
        <div class="carousel-item " style="background-image: url('https://www.statusin.in/uploads/images2021/24072-2.jpg');">
          <div class="container">
          </div>
      </div>
      </div>
</div>
</section> -->

<!-- <section class="home">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-control">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657633_0.jpg');"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="1" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657712_0.jpg');"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="2" style="background-image: url('https://www.statusin.in/uploads/images2021/24072-2.jpg');"></li>
        </ol>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleSlidesOnly" data-slide="prev">
            <img src="/assets/img/left-arrow.svg" alt="" srcset="">
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleSlidesOnly" data-slide="next">
            <img src="/assets/img/right-arrow.svg" alt="" srcset="">
        </button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active"  style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657633_0.jpg');">
          <div class="container">
              <h2 class="mb-5">بوابة سجون مصر</h2>
              <p>للخدمات الالكترونية</p>
          </div>
      </div>
        <div class="carousel-item "   style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657712_0.jpg');">
          <div class="container">
              <h2 class="mb-4">للزيارات الأسرية</h2>
              <p>والزوجية</p>
          </div>
      </div>
        <div class="carousel-item "  style="background-image: url('https://www.statusin.in/uploads/images2021/24072-2.jpg');">
          <div class="container">
          </div>
      </div>
      </div>

  </div>
</section> -->

<section class="home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657633_0.jpg');">
        <div class="container">
          <h2 class="mb-5">بوابة سجون مصر</h2>
          <p>للخدمات الالكترونية</p>
      </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000"  style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657712_0.jpg');">
        <div class="container">
          <h2 class="mb-4">للزيارات الأسرية</h2>
          <p>والزوجية</p>
      </div>
      </div>
      <div class="carousel-item"  style="background-image: url('https://www.statusin.in/uploads/images2021/24072-2.jpg');">
      </div>
    </div>
    <div class="carousel-control">
      <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657633_0.jpg');"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-image: url('https://mediaaws.almasryalyoum.com/news/large/2021/10/28/1657712_0.jpg');"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-image: url('https://www.statusin.in/uploads/images2021/24072-2.jpg');"></li>
      </ol> -->
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active lg" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <img src="/assets/img/left-arrow.svg" alt="" srcset="">
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <img src="/assets/img/right-arrow.svg" alt="" srcset="">
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</section>

<!-- Section About -->
<section class="section about"  id="about">
  <h1 class="h ">Online Prison Visits Booking System</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-6">
        <div class="about_item">
          <h2 class="section_title">book visit</h2>
          <p class="" style="font-size: medium; font-weight: 600;">
            This free online prison visits request system for Egypt  the prison's own systems and will provide a quicker and easier way of booking visits in the future.
            It can be used for public sector male, female and young offender establishments at category B and below (not the private or high security estate). Friends, families and others wishing to make a booking will need to fill in a number of details about the prisoner including their prisoner number, which they can obtain from the prisoner and the dates of birth of each of the visitors.
            Applicants will get an email within 3 days confirming their visit time and date.
            See pes.eg's prison visits page below for more information.</p>
          <button class="btn btn-warning" (click)="vRegistration()">book Now</button>
        </div>
      </div>
      <div class="col-md-5 col-6">
        <div class="about_img">
          <img src="https://gds.blog.gov.uk/wp-content/uploads/sites/60/2014/09/prison-visits-still-620x465.jpg" style="width: 100%;" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
<div class="container">
  <!--features-->
<div class="row">
  <div class="col-lg-12">
    <h3 class="pages_title">
      Features
      <hr>
    </h3>
  </div>
</div>

<div class="row">
  <br>
</div>
<div class="row home_services">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="services_bg hvr-float-shadow">
      <img src="https://eprisons.nic.in/images/signup_icon.png" alt="">
    </div>
    <h4 class="pages_title">Instant Visit Request</h4>
    <h5>Advance visit request to meet your wards.
    </h5>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="services_bg hvr-float-shadow">
      <img src="https://eprisons.nic.in/images/status_print_icon.png" alt="">
    </div>
    <h4 class="pages_title">Dashboard Reports</h4>
    <h5>Statistical information about prison population, daily admissions, relase, visits
      etc.
    </h5>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="services_bg hvr-float-shadow">
      <img src="https://eprisons.nic.in/images/cart_icon.png" alt="">
    </div>
    <h4 class="pages_title">KaraBazaar</h4>
    <h5>
      Support the inmates by purchasing the items produced in prison factory.
    </h5>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="services_bg hvr-float-shadow">
      <img src="https://eprisons.nic.in/images/npip_login.png" alt="">
    </div>
    <h4 class="pages_title">EPIP Login</h4>
    <h5>
      Secure login for investigating agencies for integrated search about inmates.
    </h5>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="services_bg hvr-float-shadow">
      <img src="https://eprisons.nic.in/images/grievances_icon.png" alt="">
    </div>
    <h4 class="pages_title">Grievances</h4>
    <h5>
      Submit grievances of your wards lodged inside the prison online.
    </h5>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="services_bg hvr-float-shadow">
      <img src="https://eprisons.nic.in/images/online_registration_icon.png" alt="">
    </div>
    <h4 class="pages_title">State Prisons Information</h4>
    <h5>
      Citizen centric information about state prisons.
    </h5>
  </div>

</div>

<div class="row">
  <br>
</div>
<!--Highlights-->
<div class="row">
  <div class="col-lg-12">
    <h3 class="pages_title">
      Highlights
      <hr>
    </h3>
  </div>
</div>

<div class="row">
  <br>
</div>

<div class="row">

  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="dashboard-box purple-plum hvr-glow">
        <div class="padd">
            <div class="icon hvr-pulse" style="padding: 6px;">
                <img src="https://eprisons.nic.in/images/icon8.png">
            </div>
            <div class="headlin">
                <div class="dashboard_name">
                    <span id="ContentPlaceHolder1_lblLargeBoard1Title" >States Covered</span>
                </div>
                <div class="dashboard_reports">
                    <span id="ContentPlaceHolder1_lblLargeBoard1Message">28</span>
                </div>
            </div>
            <!-- padd End-->
        </div>
        <div class="purple-plum1 more">
        </div>
        <!-- dashboard-box End-->
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="dashboard-box aquamarine hvr-glow">
      <div class="padd">
          <div class="icon hvr-pulse">
              <img src="https://eprisons.nic.in/images/icon7.png">
          </div>
          <div class="headlin">
              <div class="dashboard_name">
                  <span id="ContentPlaceHolder1_lblLargeBoard2Title">Prisons On-Board </span>
              </div>
              <div class="dashboard_reports">
                  <span id="ContentPlaceHolder1_lblLargeBoard2Message">168</span>
              </div>
          </div>
          <!-- padd End-->
      </div>
      <div class="aquamarine1 more">
      </div>
      <!-- dashboard-box End-->
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="dashboard-box blue-madison hvr-glow">
      <div class="padd">
          <div class="icon hvr-pulse">
              <img src="https://eprisons.nic.in/images/icon5.png">
          </div>
          <div class="headlin">
              <div class="dashboard_name">
                  <span id="ContentPlaceHolder1_lblLargeBoard3Title">Total Prisoner Records</span>
              </div>
              <div class="dashboard_reports">
                  <span id="ContentPlaceHolder1_lblLargeBoard3Message">174990</span>
              </div>
          </div>
          <!-- padd End-->
      </div>
      <div class="blue-madison1 more">
      </div>
      <!-- dashboard-box End-->
  </div>
</div>

</div>



</div>

</section>

<!--just space bottom -->
<section>
  <div>
    <div class="contai">
      <h1>h</h1>
      <h1>h</h1>
      <h1>h</h1>
    </div>
  </div>
  <div></div>
  <div></div>
</section>
