<!--
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
  </ul>
  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p>&copy;2023 Online book | All Rights Reserved</p>
  </footer> -->


  <!-- <footer class="footer-distributed">
      <div class="footer-left">
        <a class="navbar-brand mt-2" href="#" style="color: cornflowerblue; font-size: 40px; font-weight: bold;">EPIP <span class=" text-muted text-uppercase mb-0 text-small text-light " style="color: white;">Egypt Prisons</span><p class="plogo small text-gray mt-2">Information Portal</p></a>
        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
          |
          <a href="#">Services</a>
        </p>
        <div class="footer-company-name">Copyright 2023 <strong>EPIP</strong> &copy; All rights reserved</div>
      </div>
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Cairo</span></p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>+2-01288954142</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="#">SHmohamed229@gmai.com</a></p>
        </div>
      </div>
      <div class="footer-right">

        <div class="logo">
          <img src="https://eprisons.nic.in/citizenservice/Content/Images/prison.png" alt="">
        </div>
      </div>
  </footer> -->





<footer class="text-white">
  <div class="container-fluid pt-5 pb-3">
    <div class="row">
      <div class="col-md-2">
          <h1 class="font-weight-bold mt-5 pt-2">EPIP</h1>
      </div>
      <div class="col-md-3">
          <h4 class="font-weight-bold mb-3">Information Portal</h4><hr>
          <a href=""><p>Home</p></a>
          <a href=""><p>About</p></a>
          <a href=""><p>Contact</p></a>
          <a href=""><p>Services</p></a>
      </div>
      <div class="col-md-3">
          <h4 class="font-weight-bold mb-3">Contact</h4><hr>
          <div class="footer-center">
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Cairo</span></p>
            </div>
            <div>
              <i class="fa fa-phone"></i>
              <p>+2-01288954142</p>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="#">SHmohamed229@gmail</a></p>
            </div>
          </div>
      </div>

        <div class="col-md-1 logo">
          <img src="https://eprisons.nic.in/citizenservice/Content/Images/prison.png" alt="">
        </div>
    </div><hr>
    <div class="col-md-12 align-items-center mb-0" >
      <h5 style="text-align: center; font-size: 15px;">Copyright 2023 <strong>EPIP</strong> &copy; All rights reserved</h5>
    </div>
  </div>
</footer>







