<div  class="flex flex-column flex-auto align-items-center
              sm:justify-content-center min-w-0 md-w-0 md:p-4 pt-3"  >
    <div  class="sm:w-auto sm:px-8 sm:py-5 sm:border-round sm:shadow-7">
      <form action="">          <div class="w-100 mw-100">
            <div class="text-center">
              <img src="assets/img/login-logo.jpg" alt="" height="100" class="mb-3">
              <div class="font-semibold text-4xl  text-600">
                {{'recover-pass.forget-password' | translate}}
              </div>
            </div>
            <div class="mb-3 mt-3">
              <label for="txtEmail" class="form-label">{{'recover-pass.email' | translate}}</label>
              <input class="p-inputtext-sm form-control" id="txtEmail" #recover type="email" pInputText  />
            </div>

            <button pButton class="w-full"  type="submit"
            label="{{'recover-pass.send-reset-link' | translate}}" 
            (click)="recoverPass($event)"
            
            ></button>

            <div class="mt-5 text-center">
              <span class="text-600 font-medium line-height-3 text-center">{{'recover-pass.return-to' | translate}}</span>
              <a  class="font-medium no-underline ml-2 text-primary cursor-pointer"
                  [routerLink]="['/login-t']">
                  {{'recover-pass.sign-in' | translate}}
              </a>
            </div>
            
          </div>
        </form>

    </div>
</div>

